#header {
  border: 2px solid red;
  width: 100%;
}

#columns {
  border: 2px solid greenyellow;
  margin: auto;
  padding: 20px
}

table {
  border: 3px solid greenyellow;
  padding: 20px;
  width: 50%;
  margin: auto;
}

td {
  border: 3px solid blueviolet;
  padding: 20px;
}

#footer {
  border: 2px solid red;
  width: 100%;
}